# SD202 TP2 - Normalization and SQL

The objectives of this TP are the following:

1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this lab, we are going to use a database containing wine information related to 'production' and 'sales'. 

Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

We need to prepare the SQL environment:

In [1]:
import sqlite3

In [2]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [3]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
harvesting:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
location:
  0: LIEU(TEXT)
  1: REGION(TEXT)
producer:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
producer2:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
purchase:
  0: NB(NUM)
  1: NV(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
wine:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
wine2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

We recommend inline __%sql__ as an alternative to sqlite3 package

In [4]:
%load_ext sql
%sql sqlite:///wine.db

Now, we can see the content of the tables using SQL queries:

In [5]:
%sql SELECT DISTINCT NV, CRU, MILL, DEGRE FROM MASTER1;

 * sqlite:///wine.db
Done.

[(None, None, None, None),
 (1, 'Mercurey', 1980, 11.5),
 (2, 'Julienas', 1974, 11.3),
 (3, 'Savigny les Beaunes', 1978, 12.1),
 (4, 'Mercurey', 1980, 10.9),
 (5, 'Pommard', 1976, 11.7),
 (6, 'Mercurey', 1981, 11.2),
 (7, 'Grands Echezeaux', 1968, 11.7),
 (8, 'Cotes de Beaune Villages', 1975, 12.3),
 (9, 'Chapelle Chambertin', 1973, 11.9),
 (10, 'Beaujolais Villages', 1979, 11.8),
 (11, 'Sylvaner', 1982, 11.2),
 (12, 'Gentil', 1975, 10.7),
 (13, 'Cotes du Rhone', 1968, 12.3),
 (14, 'Chateau Chalon', 1978, 10.9),
 (15, 'Cote de Brouilly', 1973, 11.9),
 (16, 'Meursault', 1980, 12.1),
 (17, 'Meursault', 1975, 11.4),
 (18, 'Chambolle Musigny', 1968, 12.3),
 (19, 'Clos du roi', 1972, 11.2),
 (20, 'Cote de Brouilly', 1980, 12.1),
 (21, 'Cotes de Nuits', 1978, None),
 (22, 'Savigny les Beaunes', 1974, None),
 (23, 'Pommard', 1972, None),
 (24, 'Cotes de Beaune Villages', 1971, 12.1),
 (25, 'Chapelle Chambertin', 1968, 10.5),
 (26, 'Chateau Corton Grancey', 1980, None),
 (27, 'Puligny Montrachet', 1974, 11),
 (28, 'Volnay', 1980, 11),
 (29, 'Corton', 1972, 11.6),
 (30, 'Bourgogne Passe Tout Grains', 1979, 12),
 (31, 'Monthelie', 1968, 11.4),
 (32, 'Pouilly Vinzelles', 1968, 12.3),
 (33, 'Santenay', 1972, 12),
 (34, 'Montagny', 1978, 11.2),
 (35, 'Auxey Duresses', 1914, 11.3),
 (36, 'Chorey les Beaunes', 1955, 11),
 (37, 'Savigny les Beaunes', 1978, 10),
 (38, 'Savigny les Beaunes', 1977, 11),
 (39, 'Savigny les Beaunes', 1973, None),
 (40, 'Richebourg', 1943, 12),
 (41, 'Clairette de Die', 1976, 12),
 (42, 'Beaujolais Primeur', 1983, 12),
 (43, 'Fleurie', 1980, 11.4),
 (44, 'Moulin a vent', 1983, None),
 (45, 'Chiroubles', 1983, None),
 (46, 'Chiroubles', 1983, 11),
 (47, 'Chiroubles', 1978, 11),
 (48, 'Cote de Brouilly', 1899, 12),
 (49, 'Morgon', 1984, 12),
 (50, 'Chenas', 1984, 11.5),
 (51, 'Chenas', 1975, 10),
 (52, 'Brouilly', 1975, None),
 (53, 'Beaujolais Villages', 1975, None),
 (54, 'Beaujolais Villages', 1976, 10.5),
 (55, 'Beaujolais Villages', 1978, 12.1),
 (56, 'Saint Amour', 1974, None),
 (57, 'Crozes Hermitage', 1974, 12.1),
 (58, 'Crozes Hermitage', 1975, 12.5),
 (59, 'Crozes - Hermitage', 1972, 12.3),
 (60, 'Crozes-Hermitage', 1983, 11),
 (61, 'Hermitage', 1979, 12),
 (62, 'Gigondas', 1978, 11),
 (63, 'Coteaux du Tricastin', 1978, 10),
 (64, 'Coteaux du Tricastin', 1974, 11),
 (65, 'Rochgrande', 1968, 10.8),
 (66, 'Tavel', 1968, 11),
 (67, 'Gewurztraminer', 1968, 12.5),
 (68, 'Riesling', 1962, 14),
 (69, "Tokay d'Alsace", 1982, 11),
 (70, 'Sylvaner', 1982, 11),
 (71, 'Palette', 1981, 11),
 (72, 'Cassis', 1978, 10),
 (73, 'Bellet', 1976, 11),
 (74, 'Arbois', 1980, 12),
 (75, 'Arbois', 1976, 11),
 (76, 'Chateau Chalon', 1976, 12),
 (77, 'Etoile', 1979, 11),
 (78, 'Etoile', 1980, 12),
 (79, 'Seyssel', 1980, 11),
 (80, 'Seyssel', 1980, 11),
 (81, 'Cornas', 1980, 11.1),
 (82, 'Cornas', 1980, 11),
 (83, 'Saint Amour', 1980, 10),
 (84, 'Rasteau', 1980, 10),
 (85, 'Tavel', 1980, 11),
 (86, 'Tavel', 1980, 11),
 (87, 'Cotes de Provence', 1980, None),
 (88, 'Cotes de Provence', 1976, 10),
 (89, 'Cotes de Provence', 1969, 11),
 (90, 'Palette', 1969, 11),
 (91, 'Cassis', 1979, 11),
 (92, 'Coteaux de Pierevert', 1967, None),
 (93, 'Blanquette de Limoux', 1978, None),
 (94, 'Cotes du Rousillon', 1978, None),
 (95, 'Cotes du Rousillon', 1978, 12),
 (96, 'Saint Chinian', 1976, 11),
 (97, 'Saint Chinian', 1976, 11),
 (98, 'Corbieres', 1978, 10),
 (99, 'Cote Rotie', 1994, 13),
 (100, 'Seyssel', 1974, 11),
 (101, 'Saint Veran', 1973, 12.5),
 (107, 'Sancerre', 1998, 14)]

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables Master1 and Master2 are in the First Normal Form (1NF) and suffer from data redundancy.

__1.1__ Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NP -> NOM, PRENOM, REGION

NV, NP -> QTE

Convert table Master1 to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.

Explain your answer
Describe the schema of new tables and how they relate

Solution:
In order to respect 2NF we have to respect 1NF first(since all types are atomic Master 1 is already in 1NF) then  eliminate part-key att-> non-key att
In order to respect 3NF we have to respect 2NF then eliminate non-key att-> non-key att

We have to find a key first. In order to do so, we need to find the closures of the attributes:
{NV,NP}+={NV,NP,CRU, DEGRE, MILL,NOM, PRENOM, REGION,QTE} so {NV,NP} is a key
We can put our relation in 3NF by spliting it in three different tables like:


| Attribute | Status | Description |
| --- | --- | --- |
| NP     | Key | Producer number |
| NOM    |  | Producer's last name  |
| PRENOM |  | Producer's first name |
| REGION |  | Producer region       |

| Attribute | Status | Description |
| --- | --- | --- |
| NV     | Key | Wine number |
| CRU     |  | Vineyard or group of vineyards|
| DEGREE     |  | Alcohol content |
| MILL     |  | Vintage year |

| Attribute | Status | Description |
| --- | --- | --- |
| NV     | Key | Wine number |
| NP     | Key | Producer number |
| QTE     |  | Number of bottles harvested |

__1.2__ Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NB -> NOM, PRENOM, TYPE

NV, NB -> DATES, LIEU, QTE

LIEU -> REGION 

Convert table Master2 to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable. 
* Explain your answer
* Describe the schema of new tables and how they relate

Solution:
In order to respect 2NF we have to respect 1NF first(since all types are atomic Master 1 is already in 1NF) then  eliminate part-key att-> non-key att
In order to respect 3NF we have to respect 2NF then eliminate non-key att-> non-key att

We have to find a key first. In order to do so, we need to find the closures of the attributes:
{NV,NB,LIEU}+={NV,NB,CRU,DEGRE,MILL,NOM,PRENOM,TYPE,DATES,LIEU,QTE,REGION}. The closure of {NV,NB} is equal to all attributes so {NV,NB,LIEU} is a superkey. SInce it is minimal, it is a key.
We can put our relation in 3NF by spliting it in different tables like as follow:


| Attribute | Status | Description |
| --- | --- | --- |
| NB     | Key | Producer number |
| NOM    |  | Producer's last name  |
| PRENOM |  | Producer's first name |
| TYPE |  | Type of client by volume of purchases       |

| Attribute | Status | Description |
| --- | --- | --- |
| NV     | Key | Wine number |
| CRU     |  | Vineyard or group of vineyards|
| DEGREE     |  | Alcohol content |
| MILL     |  | Vintage year |

| Attribute | Status | Description |
| --- | --- | --- |
| NV     | Key | Wine number |
| NB     | Key | Producer number |
| QTE     |  | Number of bottles harvested |
|DATES|  | Buying date |
|LIEU |KEY | Place where the wine was sold |

| Attribute | Status | Description |
| --- | --- | --- |
| LIEU     | Key | Place where the wine was sold |
| REGION     |  | Administrative Region (different to production region |

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables. A table can be created from the result of a query. In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [6]:
%sql DROP TABLE IF EXISTS dummy;

# Create dummy table
%sql CREATE TABLE dummy AS \
SELECT DISTINCT DEGRE \
FROM MASTER1;

print("\nContent of the database")
printSchema(conn)

print("\nContent of dummy")
%sql SELECT * FROM dummy

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.

Content of the database
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
dummy:
  0: DEGRE(NUM)
harvesting:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
location:
  0: LIEU(TEXT)
  1: REGION(TEXT)
producer:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
producer2:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
purchase:
  0: NB(NUM)
  1: NV(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
wine:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
wine2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

Content of dummy
 * sqlite:///wine.db
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

In [7]:
# Remove dummy table
%sql DROP TABLE IF EXISTS dummy;

 * sqlite:///wine.db
Done.

[]

__1.3__ Create the new tables from Master1:

In [8]:
%%sql

DROP TABLE IF EXISTS producer;

CREATE TABLE producer AS
SELECT DISTINCT NP,NOM,PRENOM,REGION
FROM MASTER1
WHERE NP IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.

[]

In [9]:
%%sql

DROP TABLE IF EXISTS wine;

CREATE TABLE wine AS
SELECT DISTINCT NV, CRU,DEGRE, MILL
FROM MASTER1
WHERE NV IS NOT NULL

 * sqlite:///wine.db
Done.
Done.

[]

In [10]:
%%sql

DROP TABLE IF EXISTS harvesting;

CREATE TABLE harvesting AS
SELECT DISTINCT NP,NV,QTE
FROM MASTER1
WHERE NP IS NOT NULL
      OR NV IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.

[]

__1.4__ Create the new tables from Master2:

In [11]:
%%sql

DROP TABLE IF EXISTS client;

CREATE TABLE client AS
SELECT DISTINCT NB,NOM,PRENOM,TYPE
FROM MASTER2
WHERE NB IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.

[]

In [12]:
%%sql

DROP TABLE IF EXISTS wine2;

CREATE TABLE wine2 AS
SELECT DISTINCT NV, CRU,DEGRE, MILL
FROM MASTER2
WHERE NV IS NOT NULL

 * sqlite:///wine.db
Done.
Done.

[]

# Here we notice that creating a wine table for MASTER2 is no use. In fact it is the same table as for MASTER1

In [39]:
%%sql

DROP TABLE IF EXISTS purchase;

CREATE TABLE purchase AS
SELECT DISTINCT NB, NV, DATES, LIEU, QTE 
FROM MASTER2
WHERE NB IS NOT NULL
      AND NV IS NOT NULL
      AND LIEU IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.

[]

In [40]:

%%sql 

DROP TABLE IF EXISTS location;

CREATE TABLE location AS
SELECT DISTINCT LIEU, REGION
FROM MASTER2
WHERE LIEU IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.

[]

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

__2.1__ What are the different types of clients (buveurs) by volume of purchases?

In [41]:
%%sql

SELECT DISTINCT TYPE 
FROM client;

 * sqlite:///wine.db
Done.

[('petit',), ('moyen',), ('gros',)]

__2.2__ What regions produce Pommard or Brouilly?

In [48]:
%%sql

SELECT DISTINCT REGION, CRU
FROM producer as p , wine as w, harvesting as h
WHERE w.CRU='Pommard' OR w.CRU='Brouilly'
      AND p.NP=h.NP
      AND h.NV=w.NV;

 * sqlite:///wine.db
Done.

[('Alsace', 'Pommard'),
 ('Bourgogne', 'Pommard'),
 ('Beaujolais', 'Pommard'),
 ('Jura', 'Pommard'),
 ('Rhone', 'Pommard'),
 ('Provence', 'Pommard'),
 ('Corse', 'Pommard'),
 ('Languedoc', 'Pommard'),
 ('Pyrenees', 'Pommard'),
 ('Sud', 'Pommard'),
 ('Bourgogne', 'Brouilly'),
 ('Savoie', 'Pommard')]

__2.3__ What regions produce Pommard and Brouilly?

In [52]:
%%sql

SELECT REGION
FROM producer as p , wine as w, harvesting as h
WHERE w.CRU='Pommard'
      AND p.NP=h.NP
      AND h.NV=w.NV
        
INTERSECT

SELECT REGION
FROM producer as p , wine as w, harvesting as h
WHERE w.CRU='Brouilly'
      AND p.NP=h.NP
      AND h.NV=w.NV;

 * sqlite:///wine.db
Done.

[('Bourgogne',)]

__2.4__ Get the number of wines bught by CRU and Millsime

In [54]:
%%sql

SELECT CRU, MILL, SUM(QTE) AS WINES_number

FROM wine, harvesting

WHERE wine.NV = harvesting.NV

GROUP BY CRU, MILL

ORDER BY CRU,MILL;

 * sqlite:///wine.db
Done.

[('Arbois', 1976, 69),
 ('Arbois', 1980, 2175),
 ('Auxey Duresses', 1914, 1250),
 ('Beaujolais Primeur', 1983, 80),
 ('Beaujolais Villages', 1975, 800),
 ('Beaujolais Villages', 1976, 2110),
 ('Beaujolais Villages', 1978, 450),
 ('Beaujolais Villages', 1979, 100),
 ('Bellet', 1976, 45),
 ('Blanquette de Limoux', 1978, 110),
 ('Bourgogne Passe Tout Grains', 1979, 350),
 ('Brouilly', 1975, 500),
 ('Cassis', 1978, 34),
 ('Cassis', 1979, 24),
 ('Chambolle Musigny', 1968, 120),
 ('Chapelle Chambertin', 1968, 40),
 ('Chapelle Chambertin', 1973, None),
 ('Chateau Chalon', 1976, 1000),
 ('Chateau Chalon', 1978, 180),
 ('Chateau Corton Grancey', 1980, 70),
 ('Chenas', 1975, 36),
 ('Chenas', 1984, 100),
 ('Chiroubles', 1978, 75),
 ('Chiroubles', 1983, 2850),
 ('Chorey les Beaunes', 1955, 50),
 ('Clairette de Die', 1976, 25),
 ('Clos du roi', 1972, 986),
 ('Corbieres', 1978, 2766),
 ('Cornas', 1980, 924),
 ('Corton', 1972, 50),
 ('Cote Rotie', 1994, 299),
 ('Cote de Brouilly', 1899, 70),
 ('Cote de Brouilly', 1973, 290),
 ('Cote de Brouilly', 1980, 100),
 ('Coteaux de Pierevert', 1967, 900),
 ('Coteaux du Tricastin', 1974, 1850),
 ('Coteaux du Tricastin', 1978, 136),
 ('Cotes de Beaune Villages', 1971, 859),
 ('Cotes de Beaune Villages', 1975, 12),
 ('Cotes de Nuits', 1978, 150),
 ('Cotes de Provence', 1969, 2933),
 ('Cotes de Provence', 1976, 129),
 ('Cotes de Provence', 1980, 2210),
 ('Cotes du Rhone', 1968, 13),
 ('Cotes du Rousillon', 1978, 1580),
 ('Crozes - Hermitage', 1972, 160),
 ('Crozes Hermitage', 1974, 940),
 ('Crozes Hermitage', 1975, 70),
 ('Crozes-Hermitage', 1983, 360),
 ('Etoile', 1979, 100),
 ('Etoile', 1980, 3510),
 ('Fleurie', 1980, 2383),
 ('Gentil', 1975, 541),
 ('Gewurztraminer', 1968, 1775),
 ('Gigondas', 1978, 900),
 ('Grands Echezeaux', 1968, 60),
 ('Hermitage', 1979, 120),
 ('Julienas', 1974, 100),
 ('Mercurey', 1980, 336),
 ('Mercurey', 1981, 300),
 ('Meursault', 1975, 50),
 ('Meursault', 1980, 100),
 ('Montagny', 1978, None),
 ('Monthelie', 1968, 320),
 ('Morgon', 1984, 150),
 ('Moulin a vent', 1983, 40),
 ('Palette', 1969, 940),
 ('Palette', 1981, 132),
 ('Pommard', 1972, 15),
 ('Pommard', 1976, 46),
 ('Pouilly Vinzelles', 1968, 1390),
 ('Puligny Montrachet', 1974, 60),
 ('Rasteau', 1980, 146),
 ('Richebourg', 1943, 90),
 ('Riesling', 1962, None),
 ('Rochgrande', 1968, 570),
 ('Saint Amour', 1974, 790),
 ('Saint Amour', 1980, 423),
 ('Saint Chinian', 1976, 471),
 ('Saint Veran', 1973, 213),
 ('Sancerre', 1998, 7000),
 ('Santenay', 1972, 70),
 ('Savigny les Beaunes', 1973, 80),
 ('Savigny les Beaunes', 1974, 50),
 ('Savigny les Beaunes', 1977, 125),
 ('Savigny les Beaunes', 1978, 1230),
 ('Seyssel', 1974, 100),
 ('Seyssel', 1980, 1058),
 ('Sylvaner', 1982, 320),
 ('Tavel', 1968, 124),
 ('Tavel', 1980, 546),
 ("Tokay d'Alsace", 1982, 1106),
 ('Volnay', 1980, 10)]

__2.5__ Retrieve the wine number (NV) of wines produced by more than three producers

In [56]:
%%sql

SELECT NV, COUNT(NP) AS N_PRODUCERS
FROM harvesting
WHERE NV IS NOT NULL
GROUP BY NV
HAVING COUNT(NP) > 3;

 * sqlite:///wine.db
Done.

[(45, 5), (78, 5), (89, 4), (98, 5)]

__2.6__ Which producers have not produced any wine?

In [59]:
%%sql
SELECT p.NP, p.NOM, p.PRENOM
FROM wine as w, harvesting as h, producer as p
EXCEPT
SELECT p.NP, p.NOM, p.PRENOM
FROM wine as w, harvesting as h, producer as p
WHERE w.NV=h.NV and p.NP=h.NP
GROUP BY p.NP
HAVING count(h.QTE)>0
ORDER BY p.NP;

 * sqlite:///wine.db
Done.

[(3, 'Six', 'Paul'),
 (6, 'Marmagne', 'Bernard'),
 (8, "Lioger d'Harduy", 'Gabriel'),
 (16, 'Barbin', 'Bernard'),
 (17, 'Faiveley', 'Guy'),
 (18, 'Tramier', 'Jean'),
 (19, 'Dupaquier', 'Roger'),
 (20, 'Lamy', 'Jean'),
 (21, 'Cornu', 'Edmond'),
 (26, 'Violot', 'Gilbert'),
 (28, 'Monnier', 'Rene'),
 (29, 'de Suremain', 'Robert'),
 (31, 'Prudhon', 'Henri'),
 (32, 'Mestre', 'Philippe'),
 (33, 'Prieur', 'Guy'),
 (34, 'Monnier', 'Rene'),
 (37, 'Delagrange Bachelet', None),
 (39, 'de Suremin', 'Hugues'),
 (41, 'Juillot', 'Michel'),
 (44, 'Feyveley', None),
 (47, 'Thenard', None),
 (48, 'Flamand', None),
 (49, 'Guillot', 'Pierre'),
 (51, 'Simonet', 'Leon'),
 (53, 'Cooperative', None),
 (57, 'Desmules', 'Pierre'),
 (58, 'Joubert', 'Claude'),
 (61, 'Champier', 'Charles'),
 (62, 'Champagnon', 'Louis'),
 (66, 'Cooperative', None),
 (77, 'Tissot', 'Andre'),
 (83, 'Goy', None),
 (91, 'Chave', 'Gerard'),
 (92, 'De Boissieu', None),
 (94, 'Grippat', 'Jean Louis'),
 (96, 'Boisson', 'Jean Pierre'),
 (97, 'Quiot', 'Pierre'),
 (100, 'Bernard', 'Georges'),
 (101, 'Verdan', 'Antoine'),
 (102, 'Cooperative', None),
 (103, 'Coulouvrat', 'Michel'),
 (104, 'Rabasse Chavarin', 'Abel'),
 (105, 'Roux', 'Charles'),
 (106, 'Alary', None),
 (108, 'Archimbaud', 'Jean'),
 (109, 'Rey', 'Marcel'),
 (110, 'Cooperative', None),
 (111, 'Zafiropulo', 'Costa'),
 (112, 'Prebost', 'Gaston'),
 (113, 'Gomez', 'Rene'),
 (114, 'Brunet', 'Georges'),
 (115, 'Bordonado', 'Raymond'),
 (116, 'Imbert', 'Christian'),
 (117, 'Cooperative', None),
 (118, 'Cooperative', None),
 (119, 'Cooperative', None),
 (121, 'Cooperative', None),
 (122, 'Dupuy', 'Charles'),
 (123, 'Laurent', 'Pierre'),
 (124, 'Daurat Fort', 'Robert'),
 (125, 'Baldes', 'Jean'),
 (126, 'Jouffreau', 'Jean'),
 (127, 'Brumont', 'Alban'),
 (129, 'Barrere', 'Alfred')]

__2.7__ What clients (buveurs) have bought at least one wine from 1980?

In [61]:
%%sql 

SELECT DISTINCT c.NB, c.NOM, c.PRENOM
FROM client as c, purchase as p, wine as w
WHERE c.NB = p.NB
      AND w.MILL = '1980'
      AND w.NV = p.NV
ORDER BY c.NB;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin'),
 (8, 'Aragon', 'Louis'),
 (44, 'Gide', 'Andre'),
 (45, 'Giono', 'Jean'),
 (50, 'Lautreamont', None),
 (61, 'Mallarme', 'Stephane')]

__2.8__ What clients (buveurs) have NOT bought any wine from 1980?

In [62]:
%%sql 

SELECT DISTINCT NB, NOM, PRENOM
FROM client as c
EXCEPT
SELECT DISTINCT c.NB, c.NOM, c.PRENOM
FROM client as c, purchase as p, wine as w
WHERE c.NB = p.NB
      AND p.NV = w.NV
      AND w.MILL = '1980'
ORDER BY c.NB;

 * sqlite:///wine.db
Done.

[(1, 'Aristote', None),
 (3, 'Aron', 'Raymond'),
 (4, 'Apollinaire', 'Guillaume'),
 (5, 'Audiberti', 'Jacques'),
 (6, 'Arrabal', 'Fernando'),
 (7, 'Anouilh', 'Jean'),
 (9, 'Ajar', 'Emile'),
 (10, 'Andersen', 'Yann'),
 (11, 'Breton', 'Andre'),
 (12, 'Bataille', 'Georges'),
 (13, 'Barthes', 'Roland'),
 (14, 'Bory', 'Jean Louis'),
 (15, 'Baudelaire', 'Charles'),
 (16, 'Balzac', 'Honore de'),
 (17, 'Camus', 'Albert'),
 (18, 'Celine', 'Louis Ferdinand'),
 (19, 'Ciceron', None),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (22, 'Cocteau', 'Jean'),
 (23, 'Corneille', 'Pierre'),
 (24, 'Courrier', 'Paul Louis'),
 (25, 'Char', 'Rene'),
 (26, 'Diderot', 'Denis'),
 (27, 'Dumas', 'Alexandre'),
 (28, 'Dostoievsky', 'Fiodor'),
 (29, 'Fournier', 'Alain'),
 (30, 'La Fontaine', 'Jean de'),
 (31, 'Dante', None),
 (32, 'Eluard', 'Paul'),
 (33, 'Flaubert', 'Gustave'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (38, 'Montaigne', 'Michel de'),
 (39, 'Montesquieu', None),
 (40, 'Moliere', None),
 (41, 'Gauthier', 'Theophile'),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (48, 'Hardy', 'Thomas'),
 (49, 'Kafka', 'Franz'),
 (51, 'Lafargue', 'Paul'),
 (52, 'Carroll', 'Lewis'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de'),
 (59, 'Nietzsche', 'Friedrich'),
 (60, 'Ovide', None),
 (62, 'Proust', 'Marcel'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (75, 'Ronsard', 'Pierre'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Frans de'),
 (80, 'Sand', 'Georges'),
 (81, 'Sartre', 'Jean-Paul'),
 (82, 'Roussel', 'Rene'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (92, 'Verne', 'Jules'),
 (93, 'Virgile', None),
 (94, 'Zola', 'Emile'),
 (95, 'Zorn', 'Fritz'),
 (96, 'Wilde', 'Oscar'),
 (97, 'Vigny', 'Alfred de'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules'),
 (100, 'Woolf', 'Virginia')]

__2.9__ What clients (buveurs) have bought ONLY wines from 1980?

In [63]:
%%sql

SELECT DISTINCT client.NB, client.NOM, client.PRENOM
FROM client, purchase, wine
WHERE wine.MILL = '1980'
      AND wine.NV = purchase.NV
      AND purchase.NB = client.NB
EXCEPT
SELECT DISTINCT client.NB, client.NOM, client.PRENOM
FROM client, purchase, wine
WHERE wine.MILL NOT IN ('1980')
      AND wine.NV = purchase.NV
      AND purchase.NB = client.NB
ORDER BY client.NB;

 * sqlite:///wine.db
Done.

[(44, 'Gide', 'Andre'), (45, 'Giono', 'Jean'), (50, 'Lautreamont', None)]

__2.10__ List all wines from 1980

In [64]:
%%sql 

SELECT *
FROM wine
WHERE MILL = '1980'
ORDER BY NV;

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 11.5, 1980),
 (4, 'Mercurey', 10.9, 1980),
 (16, 'Meursault', 12.1, 1980),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (26, 'Chateau Corton Grancey', None, 1980),
 (28, 'Volnay', 11, 1980),
 (43, 'Fleurie', 11.4, 1980),
 (74, 'Arbois', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980)]

__2.11__ What are the wines from 1980 bought by NB=2?

In [65]:
%%sql 

SELECT wine.NV, wine.CRU, wine.MILL, wine.DEGRE
FROM wine, purchase
WHERE wine.MILL = '1980'
      AND purchase.NB = '2'
      AND wine.NV = purchase.NV
ORDER BY wine.NV;

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 1980, 11.5)]

__2.12__ What clients (buveurs) have bought ALL the wines from 1980?

In [66]:
%%sql 

SELECT client.NB, client.NOM, client.PRENOM
FROM client, purchase, wine 
WHERE purchase.NB = client.NB
      AND purchase.NV = wine.NV
GROUP BY client.NB
HAVING COUNT(wine.NV) = ( 
        SELECT COUNT(wine.NV)
        FROM wine
        WHERE wine.MILL = '1980');

 * sqlite:///wine.db
Done.

[(44, 'Gide', 'Andre')]